<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link href="/static/tailwind/output.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="bg-gray-100 min-h-screen">
  <div class="flex justify-center px-4 py-8">
    <div class="w-full max-w-xl bg-white shadow-md rounded p-6">
        <h2 class="card-title text-2xl mb-4">Forgot your password?</h2>
        <form method="POST" action="/perform-forgot-password">
        <input type="email" name="email" placeholder="Enter your email" required class="w-full input-bordered" />
        <button type="submit" class="w-full btn-blue my-2">Send Reset Link</button>
        <button 
            class="w-auto btn-blue-compact block mx-auto"
            type="button"
            onclick="window.location.href='/login'">
            Cancel
        </button>
        </form>
        {{ template "backend-error.html" . }}
    </div>
    </div>
</body>
</html>