<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link href="/static/tailwind/output.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="bg-gray-100 min-h-screen">
    <div class="flex justify-center px-4 py-8">
        <div class="w-full max-w-xl bg-white shadow-md rounded p-6">
            <h2 class="card-title text-2xl mb-4">Reset your password</h2>
            <form method="POST" action="/perform-password-reset">
                <input type="hidden" name="access_token" value="{{ .AccessToken }}" />
                <input type="password" name="password" placeholder="New password" required class="input-bordered w-full" />
                <button type="submit" class="w-full btn-blue my-2">Set New Password</button>
                <button 
                    class="w-auto btn-blue-compact block mx-auto"
                    type="button"
                    onclick="window.location.href='/login'">
                    Cancel
                </button>
            </form>
            {{ template "backend-error.html" . }}
        </div>
    </div>
</body>
</html>